<h1>Inventories</h1>
<ul>
  <% @inventories.each do |inventory| %>
    <li>
      <%= link_to inventory.name, inventory_path(inventory) %>
      <% if current_user == inventory.user %>
        <%= button_to 'Delete', inventory, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet mauris vulputate, tristique magna non, tempor dui. Proin auctor gravida ipsum, eu tempor purus convallis eget. Fusce eu arcu sit amet ante aliquet porta. Sed et scelerisque arcu. Nulla libero risus, faucibus eu congue vel, suscipit consequat mauris.</p>
    </li>
  <% end %>
</ul>
