@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.signPage,
.newFood, .newRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 3%;
  margin: auto;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.field,
.fieldInput {
  margin-bottom: 20px;
}

.fieldInput input {
  font-size: 1.3rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.publicPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publicPage h1 {
  font-size: 32px;
  margin: auto;
  padding: 5%;
}

.buttons {
  padding: 2%;
}

.btn {
  color: #f1f1f1;
  background-color: #7dc0f7;
  border-color: #dae0e7;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  align-self: flex-end;
  margin: 5% 0;
}


.buttons .btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  text-decoration: none;
}

#error_msg {
  color: red;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.foodList {
  margin: auto;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 10% auto;
}

th,
td {
  border: 1px solid #acacac;
  text-align: center;
  padding: 8px;
}

th,
tr:nth-child(even) {
  background-color: #e4e8ec;
  color: rgb(26, 25, 25);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
  text-decoration: none;
}
